/* DashboardStyles.module.css */
.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px; /* İstenilen genişliği ayarlayabilirsiniz */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  